#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #87b5b5;
  color: #212529;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img{
  max-width: 90%;
  height: auto;
  display: block;
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.editor-title, .preview-title{
  background-color: #61dacb;
  color: #1b1a1a;
  padding: 0.5rem;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-align: left;
}
#editor {
    background-color: #fff;
    padding: 1rem;
    border-radius: 6px;
    width: 90%;
    max-width: 700px;
    margin: 2rem auto;
  }

textarea {
    width: 90%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: vertical;
  }

.previewer-container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 6px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
    width: 90%;
  }
    #preview {
      margin: auto;
      width: 100%;
      max-width: 800px;
      padding: 1rem;
      border-radius: 6px;
    }

  
