#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #87b5b5;
  color: #212529;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

img{
  max-width: 90%;
  height: auto;
  display: block;
}
.app{
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.editor-title, .preview-title{
  background-color: #61dacb;
  color: #1b1a1a;
  padding: 0.5rem;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-align: left;
}
.editor-container{
    background-color: #fff;
    padding: 1rem;
    border-radius: 6px;
    width: 90%;
    max-width: 700px;
    margin: 1rem auto;
    text-align: left;

  }
.editor{
   width: 90%;
  height: 300px;
  padding: 10px;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical; 
  white-space: pre-wrap; 
  line-height: 1.5;
  }
.previewer-title, .editor-title{
    background-color: #61dacb;
    color: #1b1a1a;
    padding: 0.5rem;
    margin: 0;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: left;
}
.previewer-container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 6px;
    width: 90%;
    max-width: 900px;
    margin: 2rem auto;
    text-align: left;
    background-color: #fff;
  }
    #preview {
      margin: auto;
      width: 100%;
      max-width: 800px;
      padding: 1rem;
      border-radius: 6px;
    }

  
